.aside{
    flex: 25%;
    padding: 20px;
}
.img1{
    width: 95%;
    height: 60px;
    object-fit: cover;
}
.img2{
    width: 95%;
    height: 150px;
    object-fit: cover;
}
.img3{
    width: 95%;
    height: 150px;
    object-fit: cover;
}
.t1, .t2, .t3{
    color: rgb(155, 215, 240);
}
.t1:hover, .t2:hover, .t3:hover{
    opacity: 1;
    color: rgb(5, 117, 229);
    background-color: rgba( 0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 5px;
    transition: all 0.3s;

}