@import "footer.css";
@import "header.css";

.rowCards{
    margin: 50px;
    text-align: center;
    
    
}

.disclaimer {
    font-size: 8px;
    color: gray;
    text-align: center;
    margin-bottom: -10px;
  }

  /* .card .view img {
    height: 200px; /* Ajusta este valor según tus necesidades 
    object-fit: cover;
  } */
  
  .card .view img {
    width: 100%;
    height: 200px; /* Ajusta este valor según tus necesidades */
    object-fit: fill;
  }

  .card .card-body {
    min-height: 340px; /* Ajusta este valor según tus necesidades */
  }


  /*-----------------------*/

  .mainHome{
    flex: 75%;
    padding: 10px;
    }
.titulo{
    width: 100%;
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 25px;
    padding: 20px;
    }
.descripciontitulo{
    width: 30%;
    color: white;
    }
.imgprincipal{
    width: 65%;
    border-radius: 20px;
    padding: 20px;
    float: right;
    }