@import "portada.css";
@import "main.css";
@import "footer.css";
@import "nicolas.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
img{
    width: 100%;
    border-radius: 10px;
}
.row{
    display: flex;
}